<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>ExpressJS Template Engine</title>
     <style>
        h1{
            font-size: 35px;
            color: blue;
            text-align: center;
            font-family: 'Maven', sans-serif;
        }
        h1 .s1{
            color: orange;
        }
         h1 .s2{
            color: greenyellow;
        }
    </style>
</head>
<body>
      
      <h1><i class="fa fa-child"></i>ExpressJS with <span class="s2">NodeJS</span> <i class="fa fa-child"></i></h1> 
    
   
</body>
</html>
