doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Pug
    body
     h1(style="color:blue") My Self Deepak Kumar Chouhan
     p I have done B.Tech in 2019
     h2 #{name} and I am #{age} years old..
     
